
# HTID:18962528: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18962528:
php_flag output_buffering on

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME}.php -f
   RewriteRule ^(.*)$ $1.php
</IfModule>

ErrorDocument 404 http://localhost/sablon.in/websites/admin-page/error-404
ErrorDocument 500 http://localhost/sablon.in/websites/admin-page/error-500
